<div class="header">Filters</div>

<div class="form" [formGroup]="filtersForm">

    <div class="form-row">
        <div class="form-group col-2">
            <label for="filterRating" class="col-form-label col-form-label-sm">Rating</label>
            <input formControlName="minRating"
                   id="filterRating" class="form-control form-control-sm"
                   type="text"
                   size="2"
                   placeholder="0"
                   maxlength="2">
        </div>
        <div class="form-group col">
            <label for="filterTitle" class="col-form-label col-form-label-sm">Title</label>
            <input id="filterTitle"
                   formControlName="title"
                   class="form-control form-control-sm" type="text">
        </div>
        <div class="form-group col">
            <label for="filterSpeaker" class="col-form-label col-form-label-sm">Speaker</label>
            <input id="filterSpeaker"
                   formControlName="speaker"
                   class="form-control form-control-sm" type="text">
        </div>
    </div>

</div>
